<div id="headerimage" class="banner" >
  <div ng-include="'html/nav_bar1.html'"></div>
  <div >
    <h1 style="text-align:center;" class="app_font">Orca Radio</h1>
    <div class="center" ng-controller="registerEmail">
      <form name="emailForm">
        <input type="email" name="input" ng-model="email.text" class="form-control" style="display:inline;width:84%" required placeholder="Enter Email Address"/>
        <input type="button" class="btn btn-sm btn-primary" style="display:inline;width:14%" value="send" ng-click="register()">
      </form>
    </div>
  </div>
</div>

<div class="contentwhite">
  <div class="container">
  
  <h1 style="text-align: center;"> Stream music on-demand for free on  your computer or mobile device. Create custom playlists with your friends or tune-in to your local area. </h1>
  
  
  </div>
</div>

<div class="contentgrey">
  <div class="container">
    
      <div>
	  <img src="images/continuityicon.png'"></img>
	 	  
	  </div>
	  <div>
      <h2>Use Orca Radio on Any Device</h2>
	  <p> Access the Orca Radio app on your desktop, tablet, and smartphone. Orca Radio makes sure that you have a great listening experience, whether you're at your desk or on the go. Orca Radio maintains continuity between all your devices, so that when you leave off on one device, you can pick up on another!</p>
	  
	  </div>
    
  </div>
</div>

 
<div class="contentwhite">
  <div class="container">
    <div class="newrowcenter">
      <div>
        <div>
	  <img src="images/continuityicon.png'"></img>
	 	  
	  </div>
	  <div>
      <h2>Let Music Connect Us</h2>
	  <p> One of the great features of Orca Radio is that it lets you connect with both the people around you or far away. Try Songfeed or LIVE to get the full social experience. Create playlists with you friends and vote on songs.</p>
	  
	  </div>
      </div>
    </div>
  </div>
</div>

<div class="contentgrey">
  <div class="container">
    
      <div>
	  <img src="images/continuityicon.png'"></img>
	 	  
	  </div>
	  <div>
      <h2>Listen On-Demand</h2>
	  <p>For the first time ever, listen to whatever you want, wherever you want -- at absolutely no cost! Stream music on-demand on your mobile phone, and create your own personal library and collection of music.	  </p>
	  
	  </div>
    
  </div>
</div>


<div class="contentwhite">
  <div class="container">
    <div class="newrowcenter">
      <div>
        <div>
	  <img src="images/continuityicon.png'"></img>
	 	  
	  </div>
	  <div>
      
	  </div>
      </div>
    </div>
  </div>
</div>
